@value colors: "@assets/colors.css";
@value fonts: "@assets/fonts.css";
@value dark, orange, white, darkBlue from colors;
@value montserrat, openSans from fonts;

.container {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-color: dark;
  box-sizing: border-box;
  z-index: 2;
}

.header {
  width: 100%;
  position: fixed;
  background-color: dark;
  height: fit-content;
  z-index: 3;
}

.imageSection {
  position: relative;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 900px) {
    height: 100vh;
  }
}

.image {
  object-fit: cover;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.mainImage {
  composes: image;
  z-index: 1;
}

.title {
  margin: 148px 0 48px 0;
  color: white;

  @media screen and (max-width: 900px) {
    margin: 124px 0 24px 0;
  }
}

.titleText {
  font-family: montserrat;
  text-align: center;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;

  @media screen and (max-width: 1200px) {
    font-size: 36px;
    padding: 0 24px;
  }

  @media screen and (max-width: 900px) {
    font-size: 32px;
  }
}

.button {
  width: 180px;
  height: 48px;
  border-radius: 100px;
  background: orange;
  padding: 0 24px;
  color: dark;
  font-family: montserrat;
  border: none;
  font-size: 16px;
  font-weight: 600;
  z-index: 2;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 70%;
    cursor: pointer;
  }
}

.section {
  padding: 70px 120px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 46px;
  color: white;

  @media screen and (max-width: 1200px) {
    padding: 48px 72px;
  }

  @media screen and (max-width: 900px) {
    padding: 36px 48px;
  }

  @media screen and (max-width: 720px) {
    padding: 24px;
  }
}

.sectionTitle {
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  font-family: montserrat;
}

.block {
  width: 100%;
  display: flex;
  border-radius: 24px;
  padding: 48px 24px;
  box-sizing: border-box;

  @media screen and (max-width: 900px) {
    flex-direction: column-reverse;
    gap: 24px;
  }
}

.sendBlock {
  composes: block;
  background: linear-gradient(180deg, #212121 0%, #141414 100%);
}

.tradeBlock {
  composes: block;
  background-color: orange;
  color: #000;
  flex-direction: row-reverse;

  @media screen and (max-width: 900px) {
    flex-direction: column-reverse;
  }
}

.collectionBlock {
  composes: block;
  background-color: blue;
}

.blockTitle {
  font-family: montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.blockImg {
  composes: image;
  position: relative;

  @media screen and (max-width: 900px) {
    width: fit-content;
  }
}

.blockButton {
  height: 36px;
  width: 112px;
  font-family: montserrat;
  font-size: 16px;
  font-weight: 600;
  color: dark;
  background-color: #ffa300;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;

  &:hover {
    opacity: 70%;
  }

  @media screen and (max-width: 900px) {
    align-self: center;
  }
}

.blockTextGroup {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 50%;
  padding: 0px 48px;
  box-sizing: border-box;

  @media screen and (min-width: 1600px) {
    align-self: center;
    gap: 48px;
  }

  @media screen and (max-width: 1240px) {
    padding: 0px 24px;
  }

  @media screen and (max-width: 900px) {
    width: 100%;
  }

  @media screen and (max-width: 720px) {
    padding: 0px 16px;
  }
}

.text {
  font-family: openSans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.blockImgWrap {
  width: 50%;
  padding: 0px 48px;
  box-sizing: border-box;
  align-self: center;

  @media screen and (max-width: 1240px) {
    padding: 0px 24px;
  }

  @media screen and (max-width: 900px) {
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: 720px) {
    padding: 0px 16px;
    height: 200px;
  }
}

.statisticBlock {
  composes: block;
  padding: 96px 126px;
  background-color: darkBlue;
  justify-content: space-between;
  gap: 32px;

  @media screen and (max-width: 1240px) {
    padding: 48px;
    gap: 16px;
  }

  @media screen and (max-width: 900px) {
    flex-direction: column;
    gap: 32px;
    padding: 24px;
  }
}

.statisticItem {
  width: 252px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  @media screen and (max-width: 900px) {
    flex-direction: row;
    gap: 48px;
    width: 100%;
  }

  @media screen and (max-width: 720px) {
    flex-direction: column;
    gap: 8px;
  }
}

.statisticText {
  font-family: montserrat;
  font-size: 32px;
  font-weight: 600;
  margin: 0;

  @media screen and (max-width: 1200px) {
    font-size: 24px;
  }

  @media screen and (max-width: 900px) {
    text-align: end;
    width: 50%;
  }

  @media screen and (max-width: 720px) {
    width: fit-content;
  }
}

.statisticDescription {
  font-family: openSans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.tokenBlock {
  display: flex;
  gap: 48px;

  @media screen and (max-width: 1200px) {
    gap: 24px;
  }

  @media screen and (max-width: 900px) {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.tokenGroup {
  padding: 14px 0 14px 48px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  justify-content: space-between;
  flex-shrink: 0;

  @media screen and (max-width: 900px) {
    width: fit-content;
    padding: 14px 0;
  }

  @media screen and (max-width: 720px) {
    padding: 0;
  }
}

.tokenImageWrap {
  width: 547px;
  height: fit-content;
  margin-right: 48px;
  margin-left: auto;
  box-sizing: border-box;

  @media screen and (max-width: 900px) {
    height: 320px;
    width: fit-content;
    margin: 0;
  }

  @media screen and (max-width: 720px) {
    width: fit-content;
    height: fit-content;
  }
}

.tokenBlockImage {
  composes: image;
  position: relative;
  border-radius: 16px;
}

.tokenDescription {
  color: white;
  font-family: openSans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
