@import './styles/reset.css';
body {
  margin: 0;
  box-sizing: border-box;
}

.header {
  color: red;
  font-family: sans-serif;
  font-size: 22px;
}

.tenders {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.activeTrader {
  border: 5px solid green;
}
